<section class="relative">
  <img
    src="../../../assets/images/scandinavian-interior-mockup-wall-decal-background 1 (1).png"
    alt=""
  />
  <article
    class="absolute p-[20px flex flex-col gap-[30px] bg-brownLight-0 top-1/4 right-[50px] p-[30px] rounded w-[640px]"
  >
    <div class="flex flex-col gap-[30px]">
      <p class="font-medium">New Arrival</p>
      <h1 class="text-brownPrimary-0 text-[52px] font-bold leading-[50px]">
        Discover Our <br />New Collection
      </h1>
      <p class="font-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis.
      </p>
    </div>
    <button
      class="bg-brownPrimary-0 text-slate-100 w-[220px] py-[20px] font-semibold"
    >
      BUY NOW
    </button>
  </article>
</section>
