<section class="px-[60px] py-[30px]">
  <h2 class="text-center font-bold text-4xl mb-[40px]">Our Products</h2>
  <article class="flex flex-wrap gap-[20px] justify-center m-auto">
    <app-card-product
      *ngFor="let product of products.slice(0, 8)"
      [title]="product.title"
      [image]="product.image"
      [price]="product.price"
      [description]="product.description"
      [info]="product.info"
      [promo]="product.promo"
    ></app-card-product>
  </article>
</section>
