<header class="py-[20px] px-[50px]">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-1">
      <img
        src="../../../assets/images/Meubel House_Logos-05.png"
        alt="meuble"
        class="h-[30px]"
      /><span class="font-mont font-bold text-[34px]">Furniro</span>
    </div>

    <nav class="font-medium flex gap-[40px]">
      <a href="" class="hover:-translate-y-3 p-7 duration-200">Home</a>
      <a href="" class="hover:-translate-y-3 p-7 duration-200">Shop</a>
      <a href="" class="hover:-translate-y-3 p-7 duration-200">About</a>
      <a href="" class="hover:-translate-y-3 p-7 duration-200">Contact</a>
    </nav>

    <div class="flex gap-[35px]">
      <i
        class="fa-regular fa-user text-xl cursor-pointer hover:scale-150 duration-200 hover:text-green-500"
      ></i
      ><i
        class="fa-solid fa-magnifying-glass text-xl cursor-pointer hover:scale-150 duration-200 hover:text-green-500"
      ></i
      ><i
        class="fa-regular fa-heart text-xl cursor-pointer hover:scale-150 duration-200 hover:text-green-500"
      ></i
      ><i
        class="fa-solid fa-cart-shopping text-xl cursor-pointer hover:scale-150 duration-200 hover:text-green-500"
      ></i>
    </div>
  </div>
</header>
