@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
  overflow-y: scroll;
  
}

input, textarea{
  transition: all 0.5s  ease;
  color: rgb(78, 76, 76);
}

input:focus, textarea:focus { 
  outline: none !important;
  border-color: rgb(77, 190, 77);
  transform: scale(1.1)
}

input:hover, textarea:hover{
  transform: scale(1.1);
}

